name: Send V2Ray Configs to Telegram

on:
  schedule:
  - cron: '30 0,7,14,21 * * *'

  workflow_dispatch:

jobs:
  send-configs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Restore SQLite cache
        uses: actions/cache@v4
        with:
          path: configs.db
          key: configs-db-cache-v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python fetch_and_send.py

      - name: Check DB file exists
        run: ls -l configs.db || echo "configs.db not found"

      - name: Save updated DB
        uses: actions/cache@v4
        with:
          path: configs.db
          key: configs-db-cache-v3
